<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title | default: site.title }}</title>

    <!-- Local Midnight-style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

    {% include head.html %}
  </head>

  <body>

    {% include header.html %}

    <!-- Navigation Bar -->
    <nav class="site-nav">
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/galleries.html">Galleries</a></li>
        <li><a href="/wall-art.html">Wall Art</a></li>
        <li><a href="/mirror-frames.html">Mirror Frames</a></li>
        <li><a href="/relief-carvings.html">Relief Carvings</a></li>
        <li><a href="/furniture.html">Furniture</a></li>
        <li><a href="/fireplace-mantels.html">Fireplace Mantels</a></li>
        <li><a href="/boxes.html">Boxes</a></li>
      </ul>
    </nav>

    <div class="container content">
      {{ content }}
    </div>

    {% include footer.html %}
  </body>
</html>


